<div class="home-intro">
        <div class="home-title"> {{site.heading}} </div>
        <div class="home-sub-title" style="padding: 0px;"> adventures in open source cloud computing </div>

        <div class="home-content no-padding">
                This website is my digital garden, a half-blog-half-wiki! Here, you'll find my ever-changing working notes, logs of my readings, watchlist, web-finds and more.</div>

<div class="home-notes">
        <a href="{{'/notes' | relative_url}}">
                <h3 class="home-sub-title arrow-link">
                        <span class="text"> Latest Working Notes</span>
                        <span class="arrow">See All &rarr;</span>
                </h3>
        </a>

        <div class="home-wrapper">  
                {% assign notes = site.notes | where: 'category', 'notes' | where: 'feed', 'show' | sort: 'date' | reverse %}
                {% for note in notes limit: 5 %}
                <div class="homelist-feed"> <a href="{{ note.url }}">{{ note.title }}</a></div>
                {% endfor %}
        </div>
</div>

<!-- <div class="home-colln">
        <h3 class="home-sub-title">
                Collections
        </h3> 
        {%- include Collection.html -%}
</div>-->
